{% for i in 1..12 %}
	{% set done = month < current_month ? 'done' : '' %}
	<td class='{{ done }}'>0</td>
	<td class='{{ done }} anticipe'></td>
{% endfor %}
<td class="td_total">0</td>
<td>0</td>
<td>0</td>