{% for month in 1..12 %}
	{% set done =
			current_year > year or (current_year == year and month < current_month)
				? 'done gras'
				: current_year == year and month == current_month
					? 'current'
					: ''
	%}
	<td class="total_month_full_{{ sign }} {{ done }}" colspan="2">0</td>
{% endfor %}