
.mois th {
	min-width: 90px;
}
.etat tr {
	min-width: 45px;
}
.category {
	min-width: 200px!important;
}
.subcategory {
	min-width: 150px;
	padding-left: 35px;
}

.trFirst td:nth-child(2) {
	display: none;
}

.bck_black {
	background-color: black;
}