
/* MAIN COLORS */


/* SOLDE ACTUEL */
.soldeActuel {
	border: 1px black solid;
	padding: 12px;
	font-weight: bold;
	background-color: #E6E6E6;
	min-width: 350px!important;
}

/* YEAR */
.navigation {
	margin: 15px 0 0 15px;
}
.navigation_elem {
	margin: 0 10px 0 10px;
	font-size: 18px!important;
}
.button {
	color: black;
	padding: 6px;
	cursor: pointer;
	margin-left: 25px;
	border-radius: 15px;
	border: 1px black solid;
	background-color: #E6E6E6;
	text-decoration: #E6E6E6 underline;
}

/* TABLE */
.compteTable, .compteTable th, .compteTable tr, .compteTable td {
	padding: 3px;
	font-size: 14px;
	min-width: 45px;
	border: 1px black solid;
}
.compteTable th, .compteTable tr, .compteTable td {
	background-color: #E6E6E6;
}

/* FIRST COL */
.col_start_top {
	min-width: 200px!important;
	border-top: hidden!important;
	border-left: hidden!important;
}
.col_start_middle {
	border-left: hidden!important;
	border-right: hidden!important;
}
.col_start_bottom {
	min-width: 200px!important;
	border-top: hidden!important;
	border-left: hidden!important;
	border-bottom: hidden!important;
}

/* TR */
.tr_head th {
	width: 100px!important;
	min-width: 100px!important;
	max-width: 100px!important;
}
.tr_etat td {
	font-size: 11px!important;
}
.tr_operation_first td:nth-child(2) {
	display: none;
}

/* TD */
.td_category_libelle {
	min-width: 90px;
	text-align: left;
	background-color: #C1C1C1!important;
}
.td_subcategory_libelle {
	min-width: 120px;
	text-align: left;
	background-color: #C1C1C1!important;
}
.td_total {
	border-left: 5px black solid!important;
}

/* ETAT */
.done {
	background-color: #C1C1C1!important;
}
.current, .current td {
	background-color: lightgrey!important;
}

/* ANTICIPE */
.anticipe {
	color: purple;
	border-left: hidden!important;
}
.blink_me {
	animation: blinker 3s linear infinite;
}
@keyframes blinker {
	70% {
		opacity: 0;
	}
}

/* ZONE D'EDITION */
/*#E2E2D6*/
.compteTable .edit {
	border-left: 3px #575756 solid!important;
}
.compteTable .edit:first-child :not(.counterEdit){
	border-top: 3px #575756 solid!important;
}
.compteTable .collabo td:not(:nth-child(3)){
	border-top: 3px #575756 solid!important;
}
.compteTable .edit td:hover:not(.counterEdit) {
	cursor: pointer;
	text-decoration: underline;
	background-color: #F5F5C5!important;
}

/* TOTAL MONTH */
.total_month_detail_pos {
	color: green;
}
.total_month_full_pos {
	color: darkgreen;
}
.total_month_detail_neg {
	color: #FF0000;
}
.total_month_full_neg {
	color: darkred;
}

/* SOLDE */
.solde_th_cache {
	border-top: hidden!important;
	border-left: hidden!important;
	border-bottom: hidden!important;
	background-color: #D6DBE2!important;
}
.solde_th_cache_2 {
	border-top: hidden!important;
	border-bottom: hidden!important;
	background-color: #D6DBE2!important;
}
.revenuAnnuel {
	font-size: 19px!important;
}

/* BCK COLOR */
.bck_pos {
	background-color: #D7E2D6!important;
}
.bck_neg {
	background-color: #E2D6D6!important;
}
.bck_black {
	background-color: black!important;
}