
/* MAIN COLORS */

/**********/
/* TABLE */
/**********/

body {
	background-color: #D6E5C9;
}

table {
	table-layout: fixed;
	padding: 15px;
}

.compteTable, .compteTable th, .compteTable tr, .compteTable td {
	padding: 3px;
	font-size: 13px;
	min-width: 45px;
	overflow: hidden;
	word-break: break-all;
	border: 1px black solid;
}
.compteTable th, .compteTable tr, .compteTable td {
	background-color: #E6E6E6;
}
.compteTable th {
	padding-bottom: 10px;
}

/* COL */
.col_start_top {
	width: 200px!important;
	min-width: 200px!important;
	max-width: 200px!important;
	border-top: hidden!important;
	border-left: hidden!important;
}
.col_start_middle {
	border-left: hidden!important;
	border-right: hidden!important;
}
.col_start_bottom {
	border-top: hidden!important;
	border-left: hidden!important;
	border-bottom: hidden!important;
}
.col_end_top {
	width: 70px!important;
	min-width: 70px!important;
	min-width: 100px!important;
}
.col_end_top_solde {
	width: 210px!important;
	min-width: 210px!important;
	border-radius: 60% 60% 0% 0%;
}

/* TR */
.tr_etat td {
	font-size: 11px!important;
}
.tr_operation_first td:nth-child(2) {
	display: none;
}
.tr_operation_first:not(first){
	border-top: 2px #787878 solid;
}

/* TD */
.td_category_libelle {
	text-align: left;
	background-color: #C1C1C1!important;
}
.td_subcategory_libelle {
	text-align: left;
	background-color: #C1C1C1!important;
}
.td_total_border {
	border-left: 5px black solid!important;
}

.centerHor {
	padding: 5px 3px 3px 3px!important;
}

/* TD SIGN */
.sign-pos {
	color: #F61616;
}

/* ETAT */
.done {
	background-color: #C1C1C1!important;
}
.current, .current td {
	padding-bottom: 5px!important;
	background-color: lightgrey!important;
}

/* ANTICIPE */
.anticipe {
	color: purple;
	border-left: hidden!important;
}
.blink_me {
	animation: blinker 3s linear infinite;
}
@keyframes blinker {
	70% {
		opacity: 0;
	}
}

/* ZONE D'EDITION */
/*#E0DBBC*/
/*#575756*/
.compteTable .edit {
	border-left: 3px #E0DBBC solid!important;
}
.compteTable .edit:first-child :not(.counterEdit){
	border-top: 3px #E0DBBC solid!important;
}
.compteTable .collabo td:not(:nth-child(3)){
	border-top: 3px #E0DBBC solid!important;
}

.compteTable .edit td:hover:not(.counterEdit), /* tout les TD edit */
.compteTable .edit .anticipe:hover:has(+ td), /* TD avant .anticipe */
.compteTable .edit td:hover:not(.counterEdit, .anticipe, .td_category_libelle, .td_subcategory_libelle) + td, /* TD après edit */
.jauni{
	cursor: pointer;
	text-decoration: underline;
	background-color: #F5F5C5!important;
}

/* TOTAL MONTH */
.total_month_detail_pos {
	color: green;
}
.total_month_detail_neg {
	color: #FF0000;
}

.total_month_full_pos {
	color: darkgreen;
}
.total_month_full_neg {
	color: darkred;
}
.total_month_full_dec {
	color: #E6741F;
}
.total_month_full_neutre {
	color: black;
}

/* SOLDE */
.th_solde_cache {
	border-top: hidden!important;
	border-left: hidden!important;
	border-bottom: hidden!important;
	background-color: #D6DBE2!important;
}
.th_solde_cache_2 {
	border-top: hidden!important;
	border-right: hidden!important;
	border-bottom: hidden!important;
	background-color: #BED0EA!important;
}
.revenuAnnuel {
	font-weight: bold;
	font-size: 16px!important;
	border-radius: 0% 0% 60% 60%;
}

/* BCK COLOR */
.bck_pos {
	background-color: #96BF95!important;
}
.border_pos {
	border: 5px #96BF95 solid!important;
}
.bck_neg {
	background-color: #A98383!important;
}
.border_neg {
	border: 5px #A98383 solid!important;
}
.bck_solde {
	background-color: #8595AB!important;
}
.bck_black {
	background-color: black!important;
}

/* SOLDE ACTUEL */
.soldeActuel {
	border: 1px black solid;
	padding: 12px;
	font-weight: bold;
	background-color: #E6E6E6;
	min-width: 350px!important;
}

/* YEAR */
.navigation {
	margin: 15px 0 0 15px;
}
.navigation_elem {
	margin: 0 10px 0 10px;
	font-size: 18px!important;
}
.button {
	color: black;
	padding: 6px;
	cursor: pointer;
	margin-left: 25px;
	border-radius: 15px;
	border: 1px black solid;
	background-color: #E6E6E6;
	text-decoration: #E6E6E6 underline;
}