
/* ADD CATEGORY */
.add_cat button {
	float : left;
	top: -20px!important;
	position:relative;
}

/* CATEGORIE BEFORE-AFTER */
.cat_before, .cat_after {
	font-style : italic; 
	height: 35px!important;
}
#td_chevron_cat_up, #td_chevron_cat_down {
	cursor: pointer;
}

/* CATEGORIE */
.tr_category {
	min-height: 48px!important;
	height: 48px!important;
}

/* SUB-CATEGORY */
.tr_subcategories input:hover {
	border: 2px black solid;
}

/* CHEVRONS */
.td_chevron_up, .td_chevron_down {
	min-width: 45px;
}
.fa-chevron-down:hover, .fa-chevron-up:hover {
	font-size: 19px;
}

/* TRANSPARENT */
.opacity_low {
	opacity: 0.10!important;
}
.opacity_full {
	opacity: 1;
}

/* ADD */
.tr_add button {
	margin-left: 5px;
}

.tr_subcategories_add input {
	color: green;
	border: 1px green solid;
}
.tr_subcategories_add input:hover {
	border: 2px green solid;
}
.tr_subcategories_add input:focus {
	border: 3px darkgreen solid;
}

/* EDIT */
.input_edit_val {
	color: #72A0C1;
}
.input_edit {
	border: 1px #72A0C1 solid;
}
.input_edit:hover {
	border: 2px #72A0C1 solid;
}
.input_edit:focus {
	border: 3px darkblue solid;
}

/* ALERTE */
.alerte {
	border: 2px red solid!important;
}
.alerte:focus, .alerte:hover {
	border: 2px red solid!important;
	box-shadow: 5px 2px 2px salmon;
}

/* DELETE ZONE */
.delete_zone {
	border-top: 1px #dee2e6 solid!important;
}
.delete_zone.barre {
	text-decoration: line-through;
	text-decoration-thickness: 0.3rem;
}

/* DIVERS */
.minWitdh195 {
	min-width: 195px!important;
}