
/* TH */
#operation_tab th:not(.th_switch, .th_date, .th_comment, .th_actions){
	width: 90px!important;
	min-width: 90px!important;
}
#operation_tab .th_switch {
	width: 30px!important;
	max-width: 30px!important;
}
#operation_tab .th_date {
	padding-left: 20px!important;
	width: 130px!important;
	min-width: 130px!important;
	padding-left: 20px!important;
}
#operation_tab .th_comment {
	width: 235px!important;
	min-width: 235px!important;
}
#operation_tab .th_actions {
	width: 140px!important;
	min-width: 140px!important;
}

/* INPUT */
#operation_tab .inputNumber, #operation_tab .inputAnticipe {
	width: 85px!important;
	max-width: 85px!important;
}
#operation_tab .inputDay {
	width: 45px!important;
	max-width: 45px!important;
	margin-right: 3px!important;
}
#operation_tab .inputComment {
	width: 215px!important;
	max-width: 215px!important;
}

.td_anticipe, .inputAnticipe {
	color: purple;
}

.switch {
	cursor: pointer;
	max-width: 25px!important;
	margin-right: 8px!important;
}

/* ALERTE */
.alerte {
	border: 2px red solid!important;
}
.alerte:focus, .alerte:hover {
	border: 2px red solid!important;
	box-shadow: 5px 2px 2px salmon;
}
.alerte-doublon {
	border-color: blue;
}

/* OPTIONS */
.options {
	border: 2px grey solid!important;
	background-color: #E8E8E8;
}
.options .invalid {
	color: grey;
	font-style: italic; 
}
.options li:not(.invalid){
	cursor: pointer;
}
.options li:not(.invalid):hover {
	text-decoration: underline;
}

/* AJOUT */
#operation_tab .tr_add {
	background-color: #E0FAE5;
}

/* TD COLLABO */
#solde_tr_collabo td {
	height: 20px;
	max-height: 30px;
}
#solde_tr_collabo td:first-child, #solde_tr_collabo td:nth-child(3){
	border-bottom: 1px black solid;
}

/* SOLDES */
.totalReel {
	background-color: #E6E6E6;
	padding-left: 5px;
	font-style : italic;
/*	text-decoration: underline;*/
	border-left: 1px black solid;
}
.totalAnticipe {
	color: purple;
	background-color: #E6E6E6;
	padding-left: 5px;
	font-style : italic;
/*	text-decoration: underline;*/
	border-left: 1px black solid;
}
#solde {
	border: 1px black solid;
	padding: 12px;
	margin-left: 13px;
	font-weight: bold;
	text-align: center;
	background-color: #E6E6E6;
	min-width: 80px!important;
}