.modal_ope_th {
	min-width: 140px!important;
}
.modal_ope_th_comment {
	min-width: 250px!important;
}
.modal_ope_th_actions {
	min-width: 220px!important;
}

#modalOpeSolde {
	border: 1px black solid;
	padding: 12px;
	font-weight: bold;
	background-color: #E6E6E6;
	min-width: 80px!important;
	text-align: center;
}

.modalOpeInputNumber {
	max-width: 85px!important;
	margin-left: -5px!important;
}

.modalOpeInputDay {
	max-width: 110px!important;
}
.modalOpeInputComment {
	max-width: 215px!important;
}