<div class="modal-header">
	<h4 class="modal-title">
		<span class="souligne">Gestion des opérations</span>
		<br />
		<span id='date_mois'>.........</span> <span id='date_annee'>20..</span>
		<br />
		<span id="category">.............</span> -> <span id="subcategory">.............</span>
		<br />
	</h4>

	<button
		type="button"
		id="modalOperationClose"
		class="btn btn-dark minWitdh195"
		data-dismiss="modal"
		title="Fermer la fenêtre"
	>
		Fermer
	</button>
</div>