<div class="modal-body pt-1">
	<table id="operation_tab" class="m-1 p-1 mt-2">
	<thead>
		<tr class="mb-2">
			<th colspan="6" class="th_actions">
				<div class="row">

					{# ADD (GREEN) #}
					<div class="col-2">
						<button
							id="butOpeAdd"
							class="btn btn-outline-success col-12 m-1 mr-4"
							value="0"
							title='Ajouter une ligne'
						>
							<i class="fas fa-plus"></i>
						</button>
					</div>

					{# STOP EDIT MOD (GREY) #}
					<div class="col-2">
						<button
							value="0"
							type="button"
							class="btn btn-outline-secondary col-12 m-1"
							id="butFullToggleFormMod"
							title="Afficher les formulaires des lignes"
						>
							<i class="fas fa-edit"></i>
						</button>
					</div>

					{# RESET EDIT (BLUE) #}
					<div class="col-2">
						<button
							value="0"
							type="button"
							class="btn btn-outline-primary col-12 m-1 hide"
							id="butFullCancelEdit"
							title="Annuler les modifications des lignes"
						>
							<i class='fas fa-times'></i>
						</button>
					</div>

					{# STOP ADD (GREEN) #}
					<div class="col-2">
						<button
							value="0"
							type="button"
							class="btn btn-outline-success col-12 m-1 hide"
							id="butFullDelAdd"
							title="Annuler les ajouts de lignes"
						>
							<i class='fas fa-times'></i>
						</button>
					</div>

					{# STOP DELETE (ORANGE) #}
					<div class="col-2">
						<button
							value="0"
							type="button"
							class="btn btn-outline-warning col-12 m-1 hide"
							id="butFullRevive"
							title="Annuler les suppression de lignes"
						>
							<i class='fas fa-times'></i>
						</button>
					</div>
				</div>
			</th>
		</tr>
		<tr>
			<th class="p-1">Montant</th>
			<th class="th_switch p-1"></th>
			<th class="p-1">A venir</th>
			<th class="th_date p-1">Date</th>
			<th class="th_comment p-1">Commentaire</th>
			<th class="th_actions p-1"></th>
		</tr>
	</thead>
	<tbody
		class=""
		data-year="0"
		data-month="0"
		data-daysinmonth="0"
		data-scid="0"
		data-type=""
	>
		<tr id='solde_tr_collabo' class="">
			<td></td>
			<td></td>
			<td></td>
			<td colspan="3"></td>
		</tr>
		<tr id='tr_solde' class="hide">
			<td id="soldeReel" class="totalReel">0</td>
			<td></td>
			<td id="soldeAnticipe" class="totalAnticipe">0</td>
			<td colspan="3"></td>
		</tr>
		</tbody>
	</table>

	<div id='modal_ope_spinner' class="spinner spinner-border text-primary mt-4 ml-2" role="status">
		<span class="sr-only">Chargement...</span>
	</div>

	{# SOLDE #}
	<div id="solde" class="mt-3 col-3">0</div>
</div>