<div class="modal-header row">

	<h4 class="col-12 modal-title souligne center mt-0 pt-0">Gestion des opérations</h4>

	<div class="col-8 taille25">
		<span id='date_mois'>.........</span> <span id='date_annee'>20..</span>
		<br />
		<span id="category">.............</span> -> <span id="subcategory">.............</span>
		<br />
	</div>

	<div class="col-4 alignRight">
		<br />
		<button
			type="button"
			id="modalOperationClose"
			class="btn btn-dark minWitdh195 "
			data-dismiss="modal"
			title="Fermer la fenêtre"
		>
			Fermer
		</button>
	</div>
</div>