<table id="modalOpeListe" class="m-1 p-1 mt-2">
	<thead>
		<tr>
			<th>Montant</th>
			<th>Date</th>
			<th>Commentaire</th>
			<th></th>
		</tr>
	</thead>
	<tbody id="modalOpeListeTbody">
	</tbody>
</table>

{# SOLDE #}
<div id="modalOpeSolde" class="mt-3 col-1">
	0
</div>