<div
	id="modalOperation"
	class="modal"
	data-backdrop="static"
	data-keyboard="false"
	tabindex="-1"
	aria-labelledby="myModalLabel"
	aria-hidden="true"
>
	<div class="modal-dialog modal-dialog-scrollable modal-lg">
		<div class="modal-content">

			{# HEADER #}
			{{ include('compte/modal/operations/_header.html.twig') }}

			{# BODY #}
			{{ include('compte/modal/operations/_body.html.twig') }}

			{# FOOTER #}
			{{ include('compte/modal/operations/_footer.html.twig') }}

		</div>
	</div>
</div>