<div
	id="modalGestion"
	class="modal"
	data-backdrop="static"
	data-keyboard="false"
	tabindex="-1"
	aria-labelledby="myModalLabel"
	aria-hidden="true"
>
	<div class="modal-dialog modal-dialog-scrollable modal-lg">
		<div class="modal-content">

			{# HEADER #}
			<div class="modal-header">
				<h4 class="modal-title">
					<span class="souligne">Gestion des opérations</span>
					<br />
					<span id='modal_date_mois'>.........</span> <span id='modal_date_annee'>20..</span>
					<br />
					<span id="modal_category">.............</span> -> <span id="modal_subcategory">.............</span>
					<br />
				</h4>
			</div>

			{# BODY #}
			<div class="modal-body">
				{{ include('compte/modal/operations/_body.html.twig') }}
			</div>

			{# FOOTER #}
			<div class="modal-footer">
				<button id="modalOpeSaveEdit" type="button" class="hide btn btn-success" disabled>Enregistrer</button>
				<button id="modalOpeSaveAdd" type="button" class="hide btn btn-success" disabled>Enregistrer</button>
				<div class="col-6"></div>

				<button type="button" id="modalOpeClose" class="btn btn-dark ml-5" data-dismiss="modal">Fermer</button>
			</div>
		</div>
	</div>
</div>