<div id="body_cat" class="modal-body">
	<table id="cat_tab" class="m-1 p-1" data-sign="">
		<tbody>
		</tbody>
	</table>

	<div class="spinner spinner-border text-primary mt-4 ml-2" role="status">
		<span class="sr-only">Chargement...</span>
	</div>
</div>