<div class="hide modal-footer">

	<div class='row'>
		<div class="col-3"></div>

		{# BUTTONS #}
		<div class="col-6 p-0">
			<button type="button" id="cancel_cat" class="hide btn btn-danger m-1" disabled >Annuler les changements</button>
		</div>

		<div class="col-3 p-0">
			<button type="button" id="modalCatSaveClose" class="btn btn-success m-1" data-dismiss="modal">
				Enregistrer et Fermer
			</button>
		</div>
	</div>
</div>