<div class="modal-header">
	<h4 class="modal-title">
		<span class="souligne">
			Gestion de la catégorie
			<br/>
			<span id='cat_name'></span>
		</span>
	</h4>
	<button id="add_cat" class="m-1 p-2">
		Ajouter une catégorie
	</button>

	<button type="button" id="modalCatClose" class="btn btn-dark minWitdh195" data-dismiss="modal">
		Fermer
	</button>
</div>