{% set class_td = 'minWitdh40 center pointeur' %}
<tr class='tr_subcategories_add'>
	<td></td>
	<td>
		<input type='text' class='m-1' value='' placeholder='Libellé' />
	</td>
	<td class='td_chevron_up {{ class_td }}'>
		<i class="fa-solid fa-chevron-up"></i>
	</td>
	<td class='td_chevron_down {{ class_td }}'>
		<i class="fa-solid fa-chevron-down"></i>
	</td>
	<td class='{{ class_td }}'>
		<button class='btn btn-danger delete_sc '><i class='fa-solid fa-xmark'></i></button>
	</td>
</tr>