<div
	id="modalCategory"
	class="modal"
	data-backdrop="static"
	data-keyboard="false"
	tabindex="-1"
	aria-labelledby="myModalLabel"
	aria-hidden="true"
>
	<div class="modal-dialog modal-dialog-scrollable modal-lg">
		<div class="modal-content">

			{# HEADER #}
			<div class="modal-header">
				<h4 class="modal-title">
					<span class="souligne">
						Gestion de la catégorie
						<br/>
						<span id='cat_name'></span>
					</span>
				</h4>
				<button id="add_cat" class="m-1 p-1">
					Nouvelle catégorie
				</button>

				<button type="button" id="modalCatClose" class="btn btn-dark minWitdh195" data-dismiss="modal">
					Fermer
				</button>
			</div>

			{# BODY #}
			<div id="body_cat" data-sign="" class="modal-body">
				{{ include('compte/modal/category/_body.html.twig') }}
			</div>

			{# FOOTER #}
			<div class="modal-footer">

				<button id="cancel_cat" class="hide btn btn-danger m-1 p-1" disabled>Annuler les changements</button>
				<div class="col-3"></div>

				<button type="button" id="modalCatSaveClose" class="btn btn-success" data-dismiss="modal">
					Enregistrer et Fermer
				</button>
			</div>
		</div>
	</div>
</div>