<div
	id="modalCategory"
	class="modal"
	data-backdrop="static"
	data-keyboard="false"
	tabindex="-1"
	aria-labelledby="myModalLabel"
	aria-hidden="true"
>
	<div class="modal-dialog modal-dialog-scrollable modal-lg">
		<div class="modal-content">

			{# HEADER #}
			{{ include('compte/modal/category/_header.html.twig') }}

			{# BODY #}
			{{ include('compte/modal/category/_body.html.twig') }}

			{# DELETE ZONE #}
			<div class='hide delete_zone m-2'>
			</div>

			{# FOOTER #}
			{{ include('compte/modal/category/_footer.html.twig') }}

		</div>
	</div>
</div>