<form action="{{ path('login') }}" method="post">
	<div class="row form_login">

		{# USERNAME #}
		<div class="col-12 mt-2">
			<input
				class="p-2 taille20"
				type="text"
				id="username"
				name="_username"
        		placeholder="Login ou Pseudo"
				value="{{ last_username }}"
				required="required"
			/>
		</div>

		{# MDP #}
		<div class="col-12 mt-3 mb-3">
			<input
				class="p-2 taille20 gg"
				type="password"
				id="password"
				name="_password"
        		placeholder="Mot de passe"
				required="required"
			/>
		</div>

		{# If you want to control the URL the user is redirected to on success #}
		<input type="hidden" name="home" value="/account"/>
		<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

		{# VALID #}
		<div class="offset-2 col-8">
			<button class='p-2 m-2 mt-0 floatleft radius-button taille22' type="submit">&nbsp;&nbsp;Se connecter&nbsp;&nbsp;</button>
		</div>
	</div>
</form>