<div class='row mb-4 mt-4'>

	{# MESSAGES FLASH SUCCESS #}
	{% for message in app.flashes('login_success') %}
		<div class="flash-notice mt-3 mb-3 bg-success text-center">
			Succès : {{ message }}
		</div>
	{% endfor %}

	{# MESSAGES FLASH LOGIN ERROR #}
	{% for message in app.flashes('login_error') %}
		<div class="flash-notice mt-3 mb-3 bg-danger text-center">
			Erreur : {{ message }}
		</div>
	{% endfor %}

	{# MESSAGES FLASH LOGIN INFOS #}
	{% for message in app.flashes('login_info') %}
		<div class="flash-notice mt-3 mb-3 bg-info text-center">
			{{ message }}
		</div>
	{% endfor %}

	{# FORM LOGIN #}
	{% include 'home/connexion/_form_login.html.twig' %}
</div>
