{% extends 'base.html.twig' %}

{% block title %}Créer un crédit{% endblock %}

{% block body %}
	<div class="container">

		{% include('_h1.html.twig') with {'text': 'Créer un crédit'} %}

		<a href="{{ path('tableau_bord') }}">Retour au tableau de bord</a>

		{{ include('credit/_form.html.twig') }}
	</div>
{% endblock %}

