{% extends 'base.html.twig' %}

{% block title %}Edit UserPreference{% endblock %}

{% block body %}
    <h1>Edit UserPreference</h1>

    {{ include('preference/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_preference_index') }}">back to list</a>

    {{ include('preference/_delete_form.html.twig') }}
{% endblock %}
