{% extends 'base.html.twig' %}

{% block title %}New UserPreference{% endblock %}

{% block body %}
    <h1>Create new UserPreference</h1>

    {{ include('preference/_form.html.twig') }}

    <a href="{{ path('app_preference_index') }}">back to list</a>
{% endblock %}
