body {
	color:white;
	background-color:black;
	background-image:url("../../images/fond/vert_tableauNoirSale.jpg");
	margin:0;
}

#logo img {
	max-width: 250px;
	max-height: 250px;
}

button {
	display: block;
	color: #30742A;
	background-color: #e9f5db;
	border: 3px solid black;
	padding: 10px;
}