<form method="post" action="{{ path('immobilier_delete', {'id': immobilier.id}) }}" onsubmit="return confirm('Êtes-vous sûrs de vouloir supprimer cet immobilier ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ immobilier.id) }}">
    <button class="btn">Supprimer</button>
</form>
