{% extends 'base.html.twig' %}

{% block title %}Créer un bien immobilier{% endblock %}

{% block body %}
	<div class="container">

		{% include('_h1.html.twig') with {'text': 'Créer un bien immobilier'} %}

		<a href="{{ path('tableau_bord') }}">Retour au tableau de bord</a>

		{{ include('immobilier/_form.html.twig') }}
	</div>
{% endblock %}