<div
	id="modalGestion"
	class="modal"
	data-backdrop="static"
	data-keyboard="false"
	tabindex="-1"
	aria-labelledby="myModalLabel"
	aria-hidden="true"
>
	<div class="modal-dialog modal-dialog-scrollable">
		<div class="modal-content">

			{# HEADER #}
			<div class="modal-header">
				<h4 class="modal-title">
					<span class="souligne">Gestion des opérations</span>
					<br />
					<span id='modal_date_mois'>.........</span> <span id='modal_date_annee'>20..</span>
					<br />
					<span id="modal_category">.............</span> -> <span id="modal_subcategory">.............</span>
					<br />
					<span id="modal_anticipe"></span>
					<span id="modal_type"></span>
				</h4>
			</div>

			{# BODY #}
			<div class="modal-body">
				{{ include('compte/modal/_onglets.html.twig') }}
			</div>

			{# FOOTER #}
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" data-dismiss="modal">Fermer</button>
			</div>
		</div>
	</div>
</div>