<ul class="nav nav-tabs" id="myTab" role="tablist">
	<li class="nav-item">
		<a
			class="nav-link active"
			id="modal_tab_reel"
			data-toggle="tab"
			href="#modal_reel"
			role="tab"
			aria-controls="reel"
			aria-selected="true"
		>
			Réel
		</a>
	</li>
	<li class="nav-item">
		<a
			class="nav-link"
			id="modal_tab_avenir"
			data-toggle="tab"
			href="#modal_avenir"
			role="tab"
			aria-controls="avenir"
			aria-selected="false"
		>
			A venir
		</a>
	</li>
</ul>

<div class="tab-content" id="myTabContent">
	<div class="tab-pane fade show active" id="modal_reel" role="tabpanel" aria-labelledby="modal_tab_reel">

		<div class="spinner spinner-border text-primary" role="status">
			<span class="sr-only">Chargement...</span>
		</div>
		<div id="modal_reel_contenu">
			1111111111111
		</div>
	</div>
	<div class="tab-pane fade" id="modal_avenir" role="tabpanel" aria-labelledby="modal_tab_avenir">

		<div class="spinner spinner-border text-primary" role="status">
			<span class="sr-only">Chargement...</span>
		</div>
		<div id="modal_avenir_contenu">
			2222222222222222
		</div>
	</div>
</div>