<form method="post" action="{{ path('invest_delete', {'id': invest.id}) }}" onsubmit="return confirm('Êtes-vous sûrs de vouloir supprimer cet investissement ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ invest.id) }}">
    <button class="btn">Supprimer</button>
</form>
