<form
	method="post"
	action="{{ path('investissement_delete', {'id': investissement.id}) }}"
	onsubmit="return confirm('Êtes-vous sûrs de vouloir supprimer cet investissement ? Cette action est définitive !!');"
	class='alignRight'
>
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ investissement.id) }}">
	<button class="btn btn-danger p-3">Supprimer définitivement cet investissement ?</button>
</form>
