{% extends 'base.html.twig' %}

{% block title %}Invest index{% endblock %}

{% block body %}
    <h1>Invest index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for invest in invests %}
            <tr>
                <td>{{ invest.id }}</td>
                <td>
                    <a href="{{ path('app_invest_show', {'id': invest.id}) }}">show</a>
                    <a href="{{ path('app_invest_edit', {'id': invest.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_invest_new') }}">Create new</a>
{% endblock %}
