{% extends 'base.html.twig' %}

{% block title %}New Invest{% endblock %}

{% block body %}
    <h1>Create new Invest</h1>

    {{ include('invest/_form.html.twig') }}

    <a href="{{ path('investissement') }}">Retour à la liste</a>
{% endblock %}
