<table id="gestion_tab" class="m-1 p-1 mt-2">
	<thead>
		<tr>
			<th colspan="6" class="th_actions">
				<button id="add" class="m-1 p-1" value="0">Ajouter</button>
				<button id="edit" class="m-1 p-1" value="0">Modifier</button>
				<button id="deleteAllAdd" class="btn btn-danger m-1 p-1 hide" disabled>Tout retirer</button>
			</th>
		</tr>
		<tr>
			<th class="p-1">Montant</th>
			<th class="th_switch p-1"></th>
			<th class="p-1">A venir</th>
			<th class="th_date p-1">Date</th>
			<th class="th_comment p-1">Commentaire</th>
			<th class="th_actions p-1"></th>
		</tr>
	</thead>
	<tbody
		class=""
		data-year="0"
		data-month="0"
		data-daysinmonth="0"
		data-scid="0"
		data-type=""
	>
	<tr id='solde_tr_collabo' class="">
		<td colspan="6"></td>
	</tr>
	<tr id='solde_tr' class="hide">
		<td id="soldeReel" class="totalReel">0</td>
		<td></td>
		<td id="soldeAnticipe" class="totalAnticipe">0</td>
		<td colspan="3"></td>
	</tr>
	</tbody>
</table>

<div class="spinner spinner-border text-primary mt-4 ml-2" role="status">
	<span class="sr-only">Chargement...</span>
</div>

{# SOLDE #}
<div id="solde" class="mt-4 col-1">0</div>