<div class="modal-header">
	<h4 class="modal-title">
		<span class="souligne">Gestion des opérations</span>
		<br />
		<span id='date_mois'>.........</span> <span id='date_annee'>20..</span>
		<br />
		<span id="category">.............</span> -> <span id="subcategory">.............</span>
		<br />
	</h4>

	<button
		type="button"
		id="modalGestionEdit"
		class="d-none d-xs-block d-sm-block m-1 p-2" value="0"
	>
		Mode édition
	</button>

	<button type="button" id="modalGestionClose" class="btn btn-dark minWitdh195" data-dismiss="modal">
		Fermer
	</button>
</div>