{# CATEGORIE BEFORE #}
{% include('compte/modal/category/table/_tr_cat_other.html.twig') with {
	'categories': categories_before,
	'statut': 'before',
} %}

{# CATEGORIE #}
<tr id='tr_category_{{ category.id }}' class='tr_category'>
	<td>
		<input
			type='text'
			id='cat_{{ category.id }}'
			value='{{ category.libelle|capitalize }}'
			name='category'
			placeholder='Libellé catégorie'
			data-pos='{{ category.position }}'
		/>
	</td>
	<td class="row minWitdh20 m-2">
		<div class="col-3">
			<i id='td_chevron_cat_up' class="pointeur opacity_low fas fa-chevron-circle-up"></i>
		</div>
		<div class="col-2">
			<i id='td_chevron_cat_down' class="pointeur opacity_low fas fa-chevron-circle-down"></i>
		</div>
	</td>
</tr>

{# CATEGORIE AFTER #}
{% include('compte/modal/category/table/_tr_cat_other.html.twig') with {
	'categories': categories_after,
	'statut': 'after',
} %}

{# SUB-CATEGORIE #}
{% for sc in category.subcategories|sort((a, b) => a.position <=> b.position) %}
	{% include('compte/modal/category/table/_tr_sc.html.twig') %}
{% endfor %}

{# ADD SUB-CATEGORIE #}
<tr class='tr_add'>
	<td></td>
	<td>
		<button class='add_sub mt-2'>Ajouter</button>
	</td>
</tr>