{# CATEGORIE BEFORE #}
{% include('compte/modal/category/table/_tr_cat_other.html.twig') with {
	'categories': categories_before,
	'statut': 'before',
} %}

{# CATEGORIE #}
{% if category.id != null %}
	{% include('compte/modal/category/table/_tr_cat.html.twig') %}
{% else %}
	{% include('compte/modal/category/table/_tr_cat_add.html.twig') %}
{% endif %}

{# CATEGORIE AFTER #}
{% include('compte/modal/category/table/_tr_cat_other.html.twig') with {
	'categories': categories_after,
	'statut': 'after',
} %}

{# SUB-CATEGORIE #}
{% for sc in category.subcategories|sort((a, b) => a.position <=> b.position) %}
	{% include('compte/modal/category/table/_tr_sc.html.twig') %}
{% endfor %}

{# ADD SUB-CATEGORIE #}
<tr class='tr_add'>
	<td></td>
	<td>
		<button class='add_sub mt-2'>Ajouter</button>
	</td>
</tr>