<tr id='tr_category_add' class='tr_category'>
	<td>
		<input
			type='text'
			name='category'
			value=''
			placeholder='Libellé catégorie'
			data-pos='1'
		/>
	</td>
	<td class="row minWitdh20 m-2">
		<div class="col-3">
			<i id='td_chevron_cat_up' class="pointeur opacity_low fas fa-chevron-circle-up"></i>
		</div>
		<div class="col-2">
			<i id='td_chevron_cat_down' class="pointeur opacity_low fas fa-chevron-circle-down"></i>
		</div>
	</td>
</tr>