{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('home') }}
{% endblock %}

{% block title %}Inscription{% endblock %}

{% block navbar %}{% endblock %}

{% block body %}

	<div class="container">
		<div class='row mb-3'>

			{# TITRE #}
			<h2 class="radius-long offset-4 col-4">Inscription</h2>

			{# INSCRIPTION #}
			<section class='row form'>

				{# RETOUR #}
				{% if app.user is not null and app.user.anonyme == true %}
					<a class="col-4" href="{{ path('tableau_bord') }}">
						<i class="fas fa-backward" title="Retour au tableau de bord"></i>
						Retour au tableau de bord
					</a>
				{% else %}
					<a class="col-4" href="{{ path('home') }}">
						<i class="fas fa-backward" title="Retour à l'accueil"></i>
						Retour à la page d'accueil
					</a>
				{% endif %}

				{% set edit = {'edit': false} %}
				{% include 'user/_form.html.twig' with edit %}
			</section>
		</div>
	</div>
{% endblock %}