{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('user') }}
{% endblock %}

{% block title %}Modifier mes informations{% endblock %}

{% block body %}

	<div class="container">
		<div class='row mb-3'>

			{# TITRE #}
			<h2 class="radius-long offset-4 col-4">Modifier mes informations</h2>

			{# MODIFIER USER #}
			<section class='form'>
				<div class="col-2 m-2 mb-0 p-1 pb-0 alignLeft">
					<a href="{{ path('user_show', {'id': user.id}) }}">
						<i class="fas fa-backward" title="Retour"></i>
						Retour
					</a>
				</div>

				{# FORM #}
				{% if user.anonyme %}
					{% include 'user/_form_add.html.twig' %}
				{% else %}
					{% include 'user/_form_edit.html.twig' %}
				{% endif %}

				{# FORM DELETE #}
				{{ include('user/_form_delete.html.twig') }}
			</section>
		</div>
	</div>
{% endblock %}