{% extends 'base.html.twig' %}

{% block title %}Modifier un bien mobilier{% endblock %}

{% block body %}
	<div class="container">

		{% include('_h1.html.twig') with {'text': 'Modifier un bien mobilier'} %}

		<a href="{{ path('tableau_bord') }}">Retour au tableau de bord</a>

		{{ include('mobilier/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

		{{ include('mobilier/_delete_form.html.twig') }}
	</div>
{% endblock %}