{% extends 'base.html.twig' %}

{% block title %}Mobilier index{% endblock %}

{% block body %}
    <h1>Mobilier index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for mobilier in mobiliers %}
            <tr>
                <td>{{ mobilier.id }}</td>
                <td>
                    <a href="{{ path('mobilier_show', {'id': mobilier.id}) }}">show</a>
                    <a href="{{ path('mobilier_edit', {'id': mobilier.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('mobilier_new') }}">Create new</a>
{% endblock %}
